.header-container {
    display: flex;
    border-radius: 0px 0px 10px 10px;
    width: 1520px;
    height: 85px;
    flex-shrink: 0;
    background: #ffffff;
}
.logo_gp{
    width: 333px;
    height: 87px;
    flex-shrink: 0;
    top: 7px;
    left: 15px;

}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.css-dev-only-do-not-override-nllxry{
    height: 47.833333px;
    margin-left: 28%;
    margin-top: 20px;
    width:450px; 

}
.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child{
   font-family: Josefin Sans;
   font-size: 26px;
   font-style: normal;
    font-weight: 400;
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child{
    margin-right: 40px;
}
.menu-link {
    text-decoration: none;
}

.App .ant-menu-horizontal > .ant-menu-item:hover,
.App .ant-menu-horizontal > .ant-menu-submenu:hover,
.App .ant-menu-horizontal > .ant-menu-item-active,
.App .ant-menu-horizontal > .ant-menu-submenu-active,
.App .ant-menu-horizontal > .ant-menu-item-open,
.App .ant-menu-horizontal > .ant-menu-submenu-open,
.App .ant-menu-horizontal > .ant-menu-item-selected,
.App .ant-menu-horizontal > .ant-menu-submenu-selected {
 border-bottom: 2px solid #2090F8;
 color: #2090F8;
}
.connect-btn{
    margin-top: 20px;
    margin-left: 70px;
}